.topmenu {
    background-color: olive;
    overflow: hidden;
    opacity: 85%;
}

.topmenu a {
    float: left;
    color: indianred;
    text-align: center;
    padding: 18px 20px;
    font-size: 20px;
}

.topmenu a:hover {
    background-color: olive;
    color: black;
    opacity: 100%;
}

topmenu a.active {
    background-color: greenyellow;
    color: white;
}