/* With inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp
@Author Joachim*/
.topmenu {
    background-color: #1d1c1c;
    opacity: 0.85;
    overflow: hidden;
    font-family: "Times New Roman";
}


.topmenu a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 20px;
    font-size: 20px;
    opacity: 0.9;
    text-decoration: none;
}

.topmenu a:hover {
    background-color: black;
    color: white;
    opacity: 1;
}

.topmenu a.active {
    opacity: 1;
    background-color: darkorange;
    color: white;
}

.form{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    top: 25%;
    left: 25%;
    position: absolute;
    font-size: larger;
}

.form input{
    text-align: left;
    height: 30px;
    width: 200px;
}

.form label{
    text-align: right;
    padding-top: 3px;
}

#submitButton {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 225px;
    top: -225px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

#submitButton:hover {
    background-color: #A0A0A0;
}

.table {
    text-align: center;
    border-collapse: collapse;
}

.table td {
    border: 1px solid gray;
    padding: 10px;
}

.table th {
    border: 1px solid black;
    padding: 5px;
}





/*
* {box-sizing: border-box}

.popup-button {
    opacity: 0.9;
    color: black;
    background-color: #f8f3f3;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 75%;
}

.popupbutton:hover {
    opacity: 1;
}

.cancelbutton, .deletebutton {
    float: left;
    width: 50%;
}

.cancelbutton {
    background-color: #F8F3F3;
    color: white;
}

.deletebutton {
    background-color: darkorange;
}

.container {
    padding: 14px;
    text-align: center;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    padding-top: 25px;
}

.popup-content {
    background-color: #474e5d;
    margin: 5% auto 15% auto;
    border: 1px solid grey;
    width: 80%;
}

hr {
    border: 1px solid white;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 300px) {
    .cancelbutton, .deletebutton {
        width: 100%;
    }
}
*/