/* With inspiration from https://www.w3schools.com/howto/howto_js_topnav.asp
@Author Joachim*/

.topmenu {
    background-color: black;
    overflow: hidden;
    opacity: 85%;
    font-family: "Times New Roman";
}

.topmenu a {
    float: left;
    color: grey;
    text-align: center;
    padding: 18px 20px;
    font-size: 20px;
}

.topmenu a:hover {
    background-color: darkorange;
    color: black;
    opacity: 100%;
}

.topmenu a.active {
    background-color: grey;
    color: white;
}

.form{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    top: 25%;
    left: 25%;
    position: absolute;
    font-size: larger;
}

.form input{
    text-align: left;
    height: 30px;
    width: 200px;
}

.form label{
    text-align: right;
    padding-top: 3px;
}

#addMotorhome {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    left: 225px;
    top: -225px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}

#addMotorhome:hover {
    background-color: #A0A0A0;

}
