<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Close a Contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="manageBg">

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Close Contract</h1>
</div>



<div class="form receipt" style="text-align: center">
    <h2 class="receiptHeader">Receipt</h2>
    <div class="formElement">
        <label><b>Start Date</b> </label>
        <p th:text="${contract.getFromDateAsString()}"></p>
    </div>
    <div class="formElement">
        <label><b>End Date</b> </label>
        <p th:text="${contract.getToDateAsString()}"></p>
    </div>
    <div class="formElement">
        <label><b>Odometer</b></label>
        <p th:text="${contract.odometer}"></p>
    </div>

    <div th:if="${rentalPrice == null}">
        <form name="form" method="post" action="/calculatePrice">
            <input type="hidden" name="contractId" th:value="${contract.contractId}">
            <input type="number" name="excessKm" placeholder="Excess Km">

            <input type="submit" class="submitButton mt-4" value="Calculate Price">
        </form>
    </div>

    <div th:if="${rentalPrice != null}">
        <label><b>Total price:</b></label>
        <p th:text="${rentalPrice} + '€'">
        <form name="form" method="post" action="/closeContract">
            <input type="hidden" name="contractId" th:value="${contract.contractId}">
            <input type="hidden" name="finalPrice" th:value="${rentalPrice}">
            <br>
            <input type="submit" class="submitButton mt-4" value="Close Contract">
        </form>
    </div>
</div>

</body>
</html>