<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deliver Contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="manageBg">

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Deliver Contract</h1>
</div>
<div>
    <form class="form" method="post" action="/deliverContract">
        <input type="hidden" name="contractId" th:value="${contract.contractId}">
        <div class="formElement">
            <label>Delivery point</label>
            <input type="text" name="deliveryPoint" placeholder="Delivery Point" th:value="${contract.deliveryPoint}">
        </div>
        <div class="formElement">
            <label>Transfer km</label>
            <input type="number" name="transferKm" placeholder="km">
        </div>
        <div class="formElement">
            <label>Odometer start value</label>
            <input type="number" name="odometer" placeholder="km">
        </div>
        <div>
            <input class="submitButton mt-4" type="submit" value="Deliver">
        </div>
    </form>
</div>
</body>
</html>