<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pickup Contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="manageBg">

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Pick Up Contract</h1>
</div>

<form class="form" method="post" action="/pickupContract">
    <input type="hidden" name="contractId" th:value="${contract.contractId}">
    <input type="hidden" name="motorhome" th:value="${contract.motorhome.getLicencePlate()}">
    <label>Pick up point</label>
    <input type="text" name="pickupPoint" placeholder="Pickup Point">
    <label>Transfer km</label>
    <input type="number" name="transferKm" placeholder="km"  >
    <label>Odometer value</label>
    <input type="number" name="odometerEnd" placeholder="km">
    <input class="submitButton mt-4" type="submit" value="Pick Up">
</form>
</body>
</html>