<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register Service</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <meta name="author" content="Joachim">
</head>
<body class="manageBg">
<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a class="active" th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Auto Service</h1>
</div>

<div class="table" style="float: left; padding-left: 2rem">

    <table>

        <tr>
            <th class="genericTableHeader relative" colspan="100%">Motorhomes Requiring Check</th>
        </tr>

        <tbody>
        <th>Licence Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Availability</th>
        <th colspan="100%">Actions</th>

        <tr th:each="motorhome : ${motorhomes}">
            <td th:text="${motorhome.licencePlate}"></td>
            <td th:text="${motorhome.brand}"></td>
            <td th:text="${motorhome.model}"></td>
            <td th:text="${motorhome.type}"></td>
            <td th:text="${motorhome.description}"></td>
            <td th:text="${motorhome.price}"></td>
            <td th:text="${motorhome.available}"></td>

            <td class="actions">
                <a th:href="@{'/makeAvailable/'+${motorhome.licencePlate}}">
                    <button class="edit-button" onclick="return confirm('Are you sure you want to make this motorhome available?')"
                            type="button">✓</button>
                </a>

                <a th:href="@{'/createAutoService/'+${motorhome.licencePlate}}">
                    <button class="delete-button" type="button">Register Service</button>
                </a>
            </td>

        </tr>
        </tbody>

    </table>

</div>

<div class="table" style="float: right; padding-right: 10%">

    <table>
        <tr>
            <th class="genericTableHeader relative" colspan="100%">Auto Service</th>
        </tr>

        <tbody>
        <th>Service Description</th>
        <th>Motorhome</th>
        <th>Done</th>
        <th colspan="100%">Actions</th>

        <tr th:each="autoservice : ${autoServices}">
            <td th:text="${autoservice.serviceDescription}"></td>
            <td th:text="${autoservice.motorhome.getLicencePlate()}"></td>
            <td th:text="${autoservice.done}"></td>

            <td class="actions">
                <a th:href="@{'/editAutoService/'+${autoservice.autoServiceId}}">
                    <button class="edit-button" type="button">Edit</button>
                </a>
            </td>
            <td class="actions">
                <form action="/markDone" method="post">
                    <input type="hidden" name="autoServiceId" th:value="${autoservice.autoServiceId}">
                    <input type="hidden" name="motorhome" th:value="${autoservice.motorhome.getLicencePlate()}">
                    <button class="edit-button" onclick="return confirm('Are you sure you want to make this motorhome available?')"
                            type="submit">Mark Done</button>
                </form>

            </td>
        </tr>
        </tbody>

    </table>

</div>

</body>

</html>