<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Auto Service</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body class="manageBg">

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a class="active" th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Auto Service</h1>
</div>

<div>
    <form class="form" onsubmit="return confirm('Are you sure you want to register a new service?')"
          action="/createAutoService" method="post">
        <div class="formElement">
            <label>Service Description</label>
            <input type="text" name="serviceDescription" placeholder="Service Description" required>
        </div>
        <input type="hidden" name="motorhome" th:value="${licencePlate}">

        <div>
            <button type="submit" class="submitButton mt-4">Register Service</button>
        </div>

    </form>
</div>
</body>
</html>