<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Close a Contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body id="manageBg">

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="genericHeaderPosition">Closed Contracts</h1>
</div>

<label>Start Date: </label>
<p th:text="${contract.getFromDateAsString()}"></p>
<label>End Date: </label>
<p th:text="${contract.toDate}"></p>
<label>Odometer: </label>
<p th:text="${contract.odometer}"></p>

<form name="form" method="post" action="/closeContract">
    <input type="hidden" name="contractId" th:value="${contract.contractId}">
    <input type="number" name="excessKm" placeholder="Excess Km">
    <input type="submit" id="submitButton" value="Submit">
</form>

</body>
</html>