<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="author" content="Patrick">
    <meta charset="UTF-8">
    <title>Create new motorhome</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<form class="form" action="/createMotorhome" method="post">
    <label>Licence plate:</label>
    <input type="text" name="licencePlate" placeholder="Licence Plate">
    <label>Type:</label>
    <input type="text" name="type" placeholder="Type">
    <label>Brand:</label>
    <input type="text" name="brand"placeholder="Brand">
    <label>Model:</label>
    <input type="text" name="model"placeholder="Model">
    <label>Description:</label>
    <input type="text" name="description"placeholder="Motorhome Description">
    <input type="submit" value="Add Motorhome" >

</form>

</body>
</html>