<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Patrick">
    <meta charset="UTF-8">
    <title>Create new motorhome</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
</div>
<br>

<form class="form" action="/createMotorhome" method="post">
    <label>Licence plate:</label>
    <input type="text" name="licencePlate" placeholder="Licence Plate">
    <label>Type:</label>
    <input type="text" name="type" placeholder="Type">
    <label>Brand:</label>
    <input type="text" name="brand"placeholder="Brand">
    <label>Model:</label>
    <input type="text" name="model"placeholder="Model">
    <label>Description:</label>
    <input type="text" name="description"placeholder="Motorhome Description">
    <label></label>
    <input type="submit" id="addMotorhome" value="Add Motorhome">

</form>
</body>
</html>