<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create new motorhome</title>
</head>
<body>

<form class="form" action="/createMotorhome" method="post">
    <label>Licence plate</label>
    <input type="text" name="licencePlate" placeholder="Licence Plate">
    <input type="text" name="type" placeholder="Type">
    <input type="text" name="brand"placeholder="Brand">
    <input type="text" name="model"placeholder="Model">
    <input type="text" name="description"placeholder="Motorhome Description">
    <input type="submit"> Add Motorhome</input>


</form>

</body>
</html>