<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Joachim">
    <meta charset="UTF-8">
    <title>Create new customer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="src/main/resources/static/popup.js"></script>
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a class="active" th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Create Customer</h1>
</div>

<div>

    <form class="form" onsubmit="return confirm('Are you sure you want to create a customer?')"
          action="/createCustomer" method="post">
        <div class="formElement">
            <label>Customer Name </label>
            <input type="text" name="name" placeholder="Customer Name">
        </div>
        <div class="formElement">
            <label>Licence Number </label>
            <input type="text" name="licenceNumber" placeholder="Licence Number">
        </div>
        <div class="formElement">
            <label>Street </label>
            <input type="text" name="street" placeholder="Street">
        </div>
        <div class="formElement">
            <label>City </label>
            <input type="text" name="city" placeholder="City">
        </div>
        <div class="formElement">
            <label>Postcode </label>
            <input type="text" name="postCode" placeholder="Postcode">
        </div>
        <div>
        <button type="submit" class="submitButton mt-4">Create Customer</button>
        </div>
    </form>
</div>
</body>
</html>