<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Joachim">
    <meta charset="UTF-8">
    <title>Create new contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
</div>

<form class="form" action="/createContract" method="post">
    <label>Contract Start Date: </label>
    <input type="datetime-local" name="fromDate">
    <label>Contract End Date: </label>
    <input type="datetime-local" name="toDate">
    <label>Odometer: </label>
    <input type="text" name="odometer" placeholder="Odometer">
    <label>Price: </label>
    <input type="text" name="price" placeholder="Price">
    <label>Customer:</label>
    <select name="customerNumber">
        <option th:each="customer:${customers}" th:value="${customer.customerNumber}" th:text="${customer.name}"></option>
    </select>
    <label>Motorhome:</label>
    <select name="motorhome">
        <option th:each="motorhome:${motorhomes}" th:value="${motorhome.licencePlate}"
                th:text="${motorhome.type} + ', ' + ${motorhome.brand} + ', ' + ${motorhome.model}"></option>
    </select>
    <label></label>
    <button onclick="popupCreateContract()" type="submit" id="submitButton">Create Contract</button>

    <script>function popupCreateContract() {
            confirm("Are you sure you want to create a contract?");
    }
    </script>

</form>
</body>
</html>