<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Patrick">
    <meta charset="UTF-8">
    <title>Create new Extra</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a class="active" th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Create an Extra Item</h1>
</div>

<div>
    <form class="form" onsubmit="return confirm('Are you sure you want to create a extra item?')" action="/createExtra"
          method="post">
        <div class="formElement">
            <label>Name:</label>
            <input type="text" name="name" placeholder="Name">
        </div>
        <div class="formElement">
            <label>Description:</label>
            <input type="text" name="description" placeholder="Description">
        </div>
        <div class="formElement">
            <label>Price:</label>
            <input type="text" name="price" placeholder="Price">
        </div>
        <div>
            <button type="submit" id="submitButton mt-4">Create new Extra</button>
        </div>

    </form>
</div>
</body>
</html>