<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Joachim">
    <meta charset="UTF-8">
    <title>Create new contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
    <a th:href="@{'/autoServiceIndex/'}">Auto Service</a>
</div>

<div class="relative">
    <img class="headerImg blue" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Create Contract</h1>
</div>

<div>
    <form class="form" action="/createContract"
          method="post">
        <div class="formElement">
            <label>Contract Start Date </label>
            <input type="datetime-local" name="fromDate" th:value="${fromDate}">
        </div>
        <div class="formElement">
            <label>Contract End Date </label>
            <input type="datetime-local" name="toDate" th:value="${toDate}">
            <button type="submit" formaction="/getAvailableMotorhomes">Find Available</button>
        </div>
        <div class="formElement" th:if="${customers != null}">
            <label>Customer</label>
            <select class="singleSelect" name="customer">
                <option th:each="customer:${customers}" th:value="${customer.customerNumber}"
                        th:text="${customer.name}"></option>
            </select>
        </div>
        <div class="formElement" th:if="${motorhomes != null}">
            <label>Motorhome</label>
            <select class="singleSelect" name="motorhome">
                <option th:each="motorhome:${motorhomes}" th:value="${motorhome.licencePlate}"
                        th:text="${motorhome.type} + ', ' + ${motorhome.brand} + ', ' + ${motorhome.model}"></option>
            </select>
        </div>
        <div class="formElement" th:if="${extras != null}">
            <label>Extras</label>
            <select class="multipleSelect" multiple name="extras">
                <option th:each="extra:${extras}" th:value="${extra.extraId}"
                        th:text="${extra.name} + ' ' + ${extra.price} + '€  ' + ${extra.description}"></option>
            </select>
        </div>
        <div th:if="${customers != null && motorhomes != null}">
            <button type="submit" onclick="return confirm('Are you sure you want to create a contract?')" class="submitButton mt-4">Create Contract</button>
        </div>
    </form>
</div>
</body>
</html>