<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Joachim">
    <meta charset="UTF-8">
    <title>Manage Customer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a class="active" th:href="@{'/customerIndex/'}">Manage Customer</a>
</div>

<div class="genericHeaderContainer">
    <img class="imgBlur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="genericHeaderPosition">Customer Management</h1>
</div>
<div class="centering">
<table class="table">


    <tr>
        <th id="genericTableHeader" colspan="7">Customers</th>
    </tr>
    <tbody>
    <th>Customer Name</th>
    <th>Licence Number</th>
    <th>Street</th>
    <th>City</th>
    <th>Postcode</th>
    <th colspan="2">Actions</th>

    <tr th:each="customer : ${customers}">
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.licenceNumber}"></td>
        <td th:text="${customer.street}"></td>
        <td th:text="${customer.city}"></td>
        <td th:text="${customer.postCode}"></td>

        <td>
            <a th:href="@{'/editCustomer/'+${customer.customerNumber}}">
                <button type="button">Edit</button>
            </a>
        </td>

        <td>
            <a th:href="@{'/deleteCustomer/'+${customer.customerNumber}}">
                <button type="button" th:confirm="'Are you sure you want to delete ' + ${customer.name} + '?'"
                        onclick="return confirm(this.getAttribute('confirm'))">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
    <a th:href="@{'/createCustomer/'}">
        <button id="addButton" type="button">Add new customer</button>
    </a>
</div>

</body>
</html>