<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Contract</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a class="active" th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
</div>
<br>

<h1>Edit a Contract</h1>

<form class="form" onsubmit="return confirm('Are you sure you want to edit this contract?')" action="/editContract/"
      method="post">
    <label>Contract Start Date: </label>
    <input type="datetime-local" name="fromDate" th:value="${contract.fromDate}">
    <label>Contract End Date: </label>
    <input type="datetime-local" name="toDate" th:value="${contract.toDate}">
    <label>Odometer: </label>
    <input type="text" name="odometer" placeholder="Odometer" th:value="${contract.odometer}">
    <label>Price: </label>
    <input type="text" name="price" placeholder="Price" th:value="${contract.price}">
    <label>Delivered: </label>
    <input type="checkbox" name="delivered">
    <label>Picked up: </label>
    <input type="checkbox" name="pickedUp">
    <label>Closed: </label>
    <input type="checkbox" name="closed">
    <label>Customer:</label>
    <label>Motorhome: </label>
    <label></label>
    <input type="submit" id="submitButton" value="Edit contract">
    <select name="motorhome">
        <option th:each="motorhome:${motorhomes}" th:value="${motorhome.licencePlate}"
                th:selected="${motorhome.licencePlate.equals(contract.motorhome)}"
                th:text="${motorhome.type} + ', ' + ${motorhome.brand} + ', ' + ${motorhome.model}"></option>
    </select>
    <!--
    <select name="customer">
        <option th:each="customer:${customers}" th:value="${customer.customerNumber}"
                th:selected="${customer.customerNumber.equals(contract.customer)}"
                th:text="${customer.name} + ', ' + ${customer.licenceNumber}"></option>
    </select>
--->

</form>
</body>
</html>