<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Patrick">
    <meta charset="UTF-8">
    <title>Edit Extra</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a class="active" th:href="@{'/extraIndex/'}">Manage Extra</a>
</div>
<br>

<h1>Edit an Extra</h1>

<form class="form" onsubmit="return confirm('Are you sure you want to edit this extra item?')" action="/editExtra/" method="post">
    <label>Name:</label>
    <input type="text" name="name" th:value="${extra.name}">
    <label>Description:</label>
    <input type="text" name="description" th:value="${extra.description}">
    <label>Price:</label>
    <input type="text" name="price" th:value="${extra.price}">
    <label></label>
    <input type="submit" id="submitButton" value="Edit Extra">

</form>
</body>
</html>