<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="author" content="Patrick">
    <meta charset="UTF-8">
    <title>Edit Extra</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a class="active" th:href="@{'/extraIndex/'}">Manage Extra</a>
</div>

<div class="relative">
    <img class="headerImg blur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="headerTitle">Edit an Extra Item</h1>
</div>

<div>
    <form class="form" onsubmit="return confirm('Are you sure you want to edit this extra item?')"
          action="/editExtra/" method="post">
        <input type="hidden" name="extraId" th:value="${extra.extraId}">
        <div class="formElement">
            <label>Name:</label>
            <input type="text" name="name" th:value="${extra.name}">
        </div>
        <div class="formElement">
            <label>Description:</label>
            <input type="text" name="description" th:value="${extra.description}">
        </div>
        <div class="formElement">
            <label>Price:</label>
            <input type="text" name="price" th:value="${extra.price}">
        </div>
        <div>
            <input type="submit" class="submitButton mt-4" value="Edit Extra">
        </div>
    </form>
</div>
</body>
</html>