 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Joachim">
    <title>Edit Customer</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/contractIndex/'}">Manage Contract</a>
    <a class="active" th:href="@{'/customerIndex/'}">Manage Customer</a>
    <a th:href="@{'/extraIndex/'}">Manage Extra</a>
</div>

<div class="genericHeaderContainer">
    <img class="imgBlur" src="https://i.redd.it/cr9cz1ts82071.png">
    <h1 class="genericHeaderPosition">Edit Customers</h1>
</div>

<form class="form" onsubmit="return confirm('Are you sure you want to edit this customer?')" action="/editCostumer/" method="post">
    <input type="hidden" name="customerNumber" th:value="${customer.customerNumber}">
    <label>Customer name: </label>
    <input type="text" name="name" th:value="${customer.name}">
    <label>Licence number: </label>
    <input type="text" name="licenceNumber" th:value="${customer.licenceNumber}">
    <label>Street: </label>
    <input type="text" name="street" th:value="${customer.street}">
    <label>City: </label>
    <input type="text" name="city" th:value="${customer.city}">
    <label>Postcode: </label>
    <input type="text" name="postCode" th:value="${customer.postCode}">
    <label></label>
    <input type="submit" id="submitButton" value="Edit Customer">

</form>
</body>
</html>