<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<!-- @Author Joachim -->
<div class="topmenu">
    <a th:href="@{'/'}">Home</a>
    <a class="active" th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
    <a th:href="@{'/customerIndex/'}">Manage Customer</a>
</div>

<h1>Motorhome Management</h1>

<a th:href="@{'/createMotorhome/'}">
<button type="button">Add new motorhome</button>
</a>

<table class="table">

    <tr>
        <th class="motorhomeTitle">Motorhomes</th>
    </tr>

    <tbody>
    <th>Type</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Licence Plate</th>
    <th>Description</th>
    <th>Image</th>

    <tr th:each="motorhome : ${motorhomes}">

        <td th:text="${motorhome.type}"></td>
        <td th:text="${motorhome.brand}"></td>
        <td th:text="${motorhome.model}"></td>
        <td th:text="${motorhome.licencePlate}"></td>
        <td th:text="${motorhome.description}"></td>
        <td th:text="${motorhome.imagePath}"></td>

        <td>
            <a th:href="@{'/updateMotorhome/'+${motorhome.licencePlate}}">
                <button type="button">Edit</button>
            </a>
        </td>

        <td>
        <a th:href="@{'/deleteMotorhome/'+${motorhome.licencePlate}}">
            <button type="button">Delete</button>
            </a>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>