<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Motorhomes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<div class="topmenu">
    <a th:href="@{'/index/'}">Home</a>
    <a class="active" th:href="@{'/motorhomeIndex/'}">Manage Motorhome</a>
</div>

<h1>Motorhome Management</h1>

<a th:href="@{'/createMotorhome/'}">
<button type="button">Add new motorhome</button>
</a>

</body>
</html>